

.hiddenLeft {
    position: relative;
    opacity: 0.1;
    left: -80vh;
    transition: all 1.5s 2s;
    }
    
    .hiddenRight {
        position: relative;
        opacity: 0.1;
        right: -80vh;
        transition: all 1.5s 2s;
        }
    
.beforeShow {
      opacity: 0;
        }
.showRight {
       
        opacity: 1;
        right: 0;
       
        }
.showLeft {
        opacity: 1;
        left: 0;
}